<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">免责申明</h3>
  </div>
  <div class="panel-body">
    <div>
      身边买提醒您：在使用身边买提供的服务前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用身边买，但如果您使用身边买，您的使用行为将被视为对本声明全部内容的认可。
    </div>
    <ul>
      <li>网站发布的商品，其责任方为商品发布者，本网站对其不负责。</li>
      <li>请在本网站购买商品的买家仔细确认商品是否为虚假，由此引起的纠纷一律和本网站无关。</li>
      <li>在本网站发布有关危害国家、触犯法律等非法商品时，本网站有权再得知后将其删除。</li>
    </ul>
  </div>
</div>
